*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.navigation{
    background-color: #654594;
    border-bottom: solid #8b53b4;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon img{
    height: 40px;
    width: 40px;
    filter: brightness(0) invert(1);
}

.nav a {
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.nav a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.nav a:hover::after {
    width: 100%;
}

/* 1st Section */

.expsection1{
    background-image: url('assets/frankensteinbg1.png');
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.frank-logo1{
    height: 110px;
    width: 350px;
    margin-bottom: 0px;
    margin-top: -50px;
}

.frank-logo2{
    height: 400px;
    width: 800px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.frank-logo3{
    height: 250px;
    width: 175px;
     margin-top: -170px;
    margin-bottom: 100px;
}

/* 2nd Section */

.expsection2{
    background-image: url('assets/frankensteinbg2.png');
    background-size: cover; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.asset1{
    height: 125px;
    width: 125px;
    position: relative;
    top: 20px;
}

.expsec2-text{
    text-align: center;
    justify-content: center;
    padding: 0 425px;
    position: relative;
    top: 30px;
}

.expsec2-text p{
    font-size: 24px;
    line-height: 3rem;
    word-spacing: 12px;
}

.expappbtn{
    padding: 25px;
    width: 225px;
    background-color: #8dd297;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 600; 
    color: black;
    border-radius: 30px;
    border: 2px solid black;
    margin: 10px auto;
    transition: 1s ease;
    position: relative;
    top: 30px;
    transition: 1s ease;
}

.expappbtn:hover{
    transform: scale(1.1);
}

.bottom-asset{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.asset2{
    height: 200px;
    width: 175px;
}

.asset3{
    height: 200px;
    width: 175px;
}

.asset4{
    height: 200px;
    width: 100px;
}

.asset5{
    height: 200px;
    width: 100px;
}

/* 3rd Section */

.expsection3{
    background-color: #709a8a;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.asset6{
    height: 150px;
    width: 500px;
}

.expsec3-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 7rem;
}

.asset7{
    height: 500px;
    width: 250px;
}

.asset8{
    height: 500px;
    width: 250px;
}

.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.text-container p{
    font-size: 26px;
    color: white;
    font-weight: 600;
}

.text-container-btn{
    padding: 25px;
    background-color: #cb6ce6;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 600; 
    color: black;
    border-radius: 20px;
    border: 2px solid black;
    margin: auto;
    transition: 1s ease;
    position: relative;
    top: 30px;
}

.text-container-btn:hover{
    transform: scale(1.1);
}

/* 4th Section */

.expsection4{
    background-color: #49326b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.header-logo{
    height: 125px;
    width: 375px;
    margin-bottom: 20px;
}

.expsec4-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.expsec4-content img{
    height: 500px;
    width: 600px;
}

.text-content-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text-content-container p{
    color: white;
    font-size: 24px;
    line-height: 24px;
    word-spacing: 10px;
}

.text-content-container ul li{
    color: white;
    font-size: 20px;
    line-height: 24px;
    word-spacing: 10px;
}

.dlnow-btn{
    padding: 25px;
    background-color: #cb6ce6;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 600; 
    color: black;
    border-radius: 20px;
    border: 2px solid black;
    margin: auto;
    transition: 1s ease;
}

.dlnow-btn:hover{
    transform: scale(1.1);
}

/* Footer */

.exp{
    background-image: url("assets/frankfooterbg.png");
    background-size: cover;
    background-position: center;
    padding: 20px 40px;
}

.footer-form{
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-form img{
    height: 115px;
    width: 350px;
}
.footer-email{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    width: 100%;
}

.footer-email input {
    width: 50%;
    height: 60px;
    padding: 10px;
    font-size: 1rem;
    border: 3px solid white;
    border-radius: 5px;
}
.footer-email textarea {
    width: 50%; 
    height: 100px;
    padding: 10px;
    font-size: 1rem;
    font-family: inherit;
    font-weight: normal;
    border: 2px solid black;
    border-radius: 5px;
    resize: none;
}
.footer-email button {
    padding: 10px;
    width: 100px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #74e046;
    color: black;
    border: 3px solid black;
    border-radius: 15px;
    cursor: pointer;
    transition: 1s ease;
}

.footer-email button:hover{
    transform: scale(1.1);
}

.footer-content2{
    padding: 20px;
    background-color: #f9efe1;
    border: 3px solid black;
}

.social-icons{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.social-icons a{
    height: 75px;
    width: 75px;   
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.3s ease, filter 0.3s ease;
}

.social-icons img{
    height: 50px;
    width: 50px;
    transition: filter 0.3s ease;
}

.social-icons a:hover {
    background-color: black;
}

.social-icons a:hover img {
    filter: brightness(0) invert(1);
}

.copyright-content{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.copyright-text p{
    padding: 0 100px;
    font-size: 1.2rem;
}

.mimaverse-logo {
    height: 100px;
    width: 140px;
}



/* Responsive */

@media (max-width: 375px){
    .navigation{
        padding: 1.5rem 1rem;
    }
    .nav a{
        font-size: 15px;
    }

    .nav-icon img{
        height: 30px;
        width: 30px;
    }

    /* 1st Section */

    .expsection1{
        background-image: url('assets/frankmobilebg1.png');
        height: 500px;
    }

    .frank-logo1 {
        height: 80px; 
        width: 250px;  
        margin-top: 30px;  
        margin-bottom: 30px;  
    }

    .frank-logo2 {
        height: 250px;  
        width: 300px;  
        margin-top: 10px;  
        margin-bottom: 10px;  
    }

    .frank-logo3 {
        height: 150px;  
        width: 120px;  
        margin-top: -60px;  
        margin-bottom: 100px; 
    }
    
    
    /* 2nd Section */

    .expsection2{
        background-image: url("assets/frankmobilebg2.png");
        background-size: cover;
        height: auto;
    }

  .asset1{
        height: 75px;
        width: 75px;
        margin-top: 180px;  /* Reduced margin-top to lift the logo */
        margin-bottom: 10px;  /* Adjust the space below the logo */

    }
    
    .expsec2-text {
        padding: 0 20px; 
        margin-top: 30px;  /* Lift the text up a bit */
        margin-bottom: 10px;  /* Small gap below the text */
    }
    
    .expsec2-text p {
        font-size: 18px;  
        line-height: 1.5rem;  
        word-spacing: 5px;
        margin-top: 10px;  
       margin-bottom: 10px;  /* Adjust the bottom margin for better spacing */
    }
    
    .expappbtn{
        padding: 15px;
        width: 175px;
        font-size: 12px;
        border-radius: 15px;
        top: 35px;  /* Adjust top to bring the button closer */
    }
    
    .bottom-asset{
        gap: 125px;
         margin-top: 50px;  /* Adjust the margin to give space above the assets */
    }
    
    .asset2{
        display: none;
    }
    
    .asset3{
        display: none;
    }
    
    .asset4{
        height: 150px;
        width: 50px;
        margin-top: -20px;  /* Adjust the position of asset4 */
        margin-bottom: 0px;  
    }
    
    .asset5{
        height: 150px;
        width: 50px;
        margin-top: -20px;  /* Adjust the position of asset4 */
        margin-bottom: 0px;  
    }

    /* 3rd Section */
    .expsection3{
        height: 400px;
    }

    .asset6{
        height: 100px;
        width: 225px;
        margin-bottom: 20px;
    }

    .asset7{
        display: none;
    }

    .asset8{
        display: none;
    }

    .text-container p{
        font-size: 14px;
        font-weight: 600;
    }

    .text-container-btn{
        padding: 20px;
        width: 200px;
        font-size: 14px; 
        border-radius: 20px;;
        top: 30px;
    }

    /* 4th Section */

    .header-logo{
        height: 75px;
        width: 200px;
        margin-bottom: 20px;
    }

    .expsec4-content{
        gap: 2rem;
        flex-direction: column;
    }

    .expsec4-content img{
        height: 200px;
        width: 250px;
    }

    .text-content-container{
        justify-content: center;
        align-items: center;
    }

    .text-content-container{
        order: 2;
    }

    .text-content-container p{
        font-size: 12px;
        line-height: 1.2rem;
        word-spacing: 3px;
        text-align: center;
    }

    .text-content-container ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .text-content-container ul li {
        font-size: 12px;
        line-height: 1.2rem;
        word-spacing: 3px;
        text-align: center;
    }

    .dlnow-btn{
        padding: 20px;
        font-size: 12px;
        border-radius: 20px;
        transition: 1s ease;
    }

    /* Footer  */

    .exp{
        background-position: center;
    }

    .footer-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin-bottom: 30px;
    }

    .footer-form img{
        height: 75px;
        width: 200px;
    }

    .footer-email{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer-email input {
        width: 200px;
        height: 30px;
        padding: 10px;
        font-size: 12px;
    }
    .footer-email textarea {
        width: 200px;
        height: 100px;
        padding: 10px;
        font-size: 12px;
        box-sizing: border-box;
        resize: none;
    }

    .footer-email button {
        padding: 10px;
        width: 100px;
        font-size: 12px;
    }

    .social-icons{
        padding: 5px;
        gap: 8px;
    }

    .social-icons a{
        height: 45px;
        width: 45px;   
    }

    .social-icons img{
        height: 20px;
        width: 20px;
    }

    .copyright-text p{
        padding: 0;
        font-size: 10px;
    }

    .mimaverse-logo {
        height: 50px;
        width: 100px;
    }
}